<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="Content" runat="server">
	
	<umbraco:Item field="introduction" runat="server" />

	 <section class="span6" id="reviews">
		 <header>
			 <h3>KONCERTER</h3>
			 <hr id="hr">
		 </header>
	<div class="row">
		<umbraco:Macro Alias="ListConcerts" runat="server"></umbraco:Macro>
	</div>
	
</asp:Content>