@inherits umbraco.MacroEngines.DynamicNodeContext
				
				
				@* Ensure that the Current Page has children, where the property umbracoNaviHide is not True *@
				@if (Model.Children.Where("Visible").Any())
				{
					<ul class="unstyled">            
						@* For each child page under the root node, where the property umbracoNaviHide is not True *@
						@foreach (var childPage in Model.Children.Where("Visible").OrderBy("CreateDate desc"))
						{
							<li>
								<dl class="dl-myStyle">
									<dt>@childPage.Fornavn @childPage.Efternavn</dt>
									<dd>tlf: @childPage.Mobilnr</dd>
								</dl>
								  
							</li>
						}
					</ul>
				}