@inherits umbraco.MacroEngines.DynamicNodeContext
				
				
				@* Ensure that the Current Page has children, where the property umbracoNaviHide is not True *@
				@if (Model.Children.Where("Visible").Any())
				{
					<ul style = "list-style: none; margin-left:0px;">            
						@* For each child page under the root node, where the property umbracoNaviHide is not True *@
						@foreach (var childPage in Model.Children.Where("Visible"))
						{
							<li>
								@childPage.Fornavn @childPage.Efternavn tlf:: @childPage.Mobilnr
							</li>
						}
					</ul>
				}